/**
 * ReelForge Highlight Styles
 *
 * @module highlight/Highlight.css
 */

/* ============ Mark ============ */

.mark {
  padding: 1px 2px;
  border-radius: 2px;
  color: inherit;
}

/* ============ Colors ============ */

.mark--yellow {
  background: rgba(255, 212, 59, 0.4);
}

.mark--green {
  background: rgba(81, 207, 102, 0.4);
}

.mark--blue {
  background: rgba(74, 158, 255, 0.4);
}

.mark--red {
  background: rgba(255, 107, 107, 0.4);
}

.mark--purple {
  background: rgba(155, 89, 182, 0.4);
}

.mark--orange {
  background: rgba(255, 159, 67, 0.4);
}
