[build]
jobs = -1

[target.x86_64-unknown-linux-gnu]
linker = "clang"
rustflags = [
    "-C", "target-cpu=native",
    "-C", "target-feature=+avx2,+fma",
    "-C", "link-arg=-fuse-ld=mold",
]

[target.x86_64-apple-darwin]
rustflags = [
    "-C", "target-cpu=native",
    "-C", "target-feature=+avx2,+fma",
]

[target.aarch64-apple-darwin]
rustflags = [
    "-C", "target-cpu=native",
    "-C", "target-feature=+neon",
    "-L", "/opt/homebrew/opt/flac/lib",
]

[env]
LIBRARY_PATH = "/opt/homebrew/opt/flac/lib"

[target.x86_64-pc-windows-msvc]
linker = "lld-link"
rustflags = [
    "-C", "target-cpu=native",
    "-C", "target-feature=+avx2,+fma",
]
